<p id="notice"><%= notice %></p>

<h1>Customer Journeys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_journeys.each do |customer_journey| %>
      <tr>
        <td><%= customer_journey.name %></td>
        <td><%= customer_journey.description %></td>
        <td><%= customer_journey.user %></td>
        <td><%= link_to 'Show', customer_journey %></td>
        <td><%= link_to 'Edit', edit_customer_journey_path(customer_journey) %></td>
        <td><%= link_to 'Destroy', customer_journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Journey', new_customer_journey_path %>
